// Global Stylesheet
// Color Palette
$primary-color: gold;
$secondary-color: purple;
// Typography
// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}



h1 {
    font-family: 'Nosifer', cursive;
    text-align: center;
    font-size: 150px;
    color: darkred;
}

ul { 
    list-style-type: none;
    
    
    
}

li {
     text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    font-size: 70px;


   margin-top: 90px;

}

//buttons

img {
    width: 80px;

   
  
}

a {
    margin: 60px;
    color: firebrick;
    border: 40px;

}
a:visited {
    color: black;
 }
a:link {
    color: red;
}

a:hover {
    color: darkred;
}

a:active {
    color: goldenrod;
}

.mejs__container {
    background:  url(img/bloodspatterBackground.jpg);
    background-size: 135% 140% ;
    background-repeat: no-repeat;
    background-position: center ;
    
}

body {
    background: #ffdf22;
}
p {
    font-family: swanky and moo moo;
    font-size: 90px;
}

.mejs__time {
    color: #191717;
    font-size: 43px;
}

 .mejs__time-loaded {
    height: 40px;
    color: firebrick;
    
}

.mejs__time-current {
    background: rgba(158, 18, 18, 0.9);
    height: 40px;
    
}

