// Global Stylesheet
// Color Palette
$primary-color: gold;
$secondary-color: purple;
// Typography
// Video Player Styling
video {
    max-width: 100%;
    width: 100%;
}



h1 {
    font-family: 'Nosifer', cursive;
    text-align: center;
    font-size: 90px;
    color: darkred;
}

ul { 
    list-style-type: none;
    
    
    
}

li {
     text-decoration: none;
    font-family: 'Walter Turncoat', cursive;
    font-size: 70px;
    justify-content: space-around;

}

//buttons

img {
    width: 80px;

   
  
}

a {
    margin: 50px;

    
 
    
   
    
}

main {
    background: grey;
    
}

.mejs__container {
    background:  url(img/bloodspatterBackground.jpg);
    background-size: 135% 140% ;
    background-repeat: no-repeat;
    background-position: center ;
    
}
